html, body {
  margin: 10;
  padding: 10;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

canvas {
  display: block;
}


.title{
  text-align: center;
}

p{
  text-align: left;
}

ul{
  display: block;
}